# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Data
# =========================
data/raw/
data/interim/
data/processed/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python Build
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# =========================
# Ruff / Black
# =========================
.ruff_cache/

# =========================
# MLflow
# =========================
mlruns/

# =========================
# Model Artifacts
# =========================
artifacts/models/
artifacts/pipelines/
*.pkl
*.joblib
*.onnx

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.temp